@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-roboto);
  --color-accent: var(--color-sky-700);
}

@layer base {
  html {
    font-size: 12px;
  }

  strong {
    @apply font-semibold;
  }
  
  body {
    @apply font-sans bg-neutral-800 w-full min-h-dvh grid place-items-center py-8 print:bg-none print:p-0;
  }
}

@layer components {
  .section-heading {
    @apply uppercase text-sm font-medium text-accent mb-1 tracking-wider;
  }

  .article-heading {
    @apply font-medium leading-normal;
  }
}