<div
  class="text-neutral-600 text-pretty text-sm leading-[1.3]
  prose-h1:font-bold prose-h1:text-xl
  prose-h3:font-semibold prose-h3:mt-3 prose-h3:mb-1
  prose-ul:first-of-type:space-y-1.5
  prose-ul:last-of-type:space-y-0.5
  prose-li:list-disc prose-li:ml-4
  prose-p:text-pretty">
  <slot />
</div>
