---
import { type CollectionEntry, render } from "astro:content";

interface Props {
  item: CollectionEntry<"skills">;
}

const { item } = Astro.props;
const { Content } = await render(item);
const lang = (Astro.currentLocale || "es") as "es" | "en";
const title = item.data.title[lang];
---

<article
  class="[&>ul]:text-neutral-600 [&>ul]:text-sm [&>ul]:leading-snug [&>ul]:text-pretty
    [&>ul>li]:inline [&>ul>li]:not-last:after:content-[',']">
  <h4 class="article-heading mb-0.5">{title}</h4>
  <Content />
</article>
